.attribution {
  font-size: 0.6875rem;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

body {
  height: 100vh;
  margin: 0;
}

main {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Libre Franklin', sans-serif;
  color: hsl(209, 33%, 12%);
  font-weight: 400;
  font-size: 0.75rem;
}

.logo {
    margin-bottom: 2.1875rem;
    margin-top: 5.5rem;
}

.lightText {
  color: hsl(0, 0%, 59%);
  font-weight: 300;
}

h1 {
  font-size: 1.25rem;
  margin: 1.5625rem 0;
}

.form {
  display: flex;
  flex-direction: column;
  margin-top: 2.5rem;
}

.inputField {
  border: 0.0625rem solid #ced6e3;
  border-radius: 3.125rem;
  width: 17.5625rem;
  height: 2.5rem;
  padding: 0 1.875rem;
}

.inputField:focus {
  outline: none;
}

::placeholder {
  color: #ced6e3;
}

.button {
  background-color: hsl(223, 87%, 63%);
  color: hsl(223, 100%, 88%);
  border-radius: 3.125rem;
  width: 17.5625rem;
  
  text-align: center;
  font-weight: 700;
  padding: 0.875rem 1.875rem;
  cursor: pointer;
  margin-top: 0.6875rem; 
  transition: transform 1s;
}

.button:hover {
    transform: scale(1.025);
}

.errorContainer {
  width: 35.3125rem;
  display: none;
}

.errorContainerMobile {
  width: 21.3125rem;
  display: block;
  text-align: center;
}

.errorMessage {
  font-size: 0.75rem;
  color: hsl(354, 100%, 66%);
  margin: 0.625rem 0 0.9375rem;
}

.illustration {
  /* width: 40.125rem; */
  width: 20rem;
  margin: 3.125rem 0;
}

.socialLinks {
  display: flex;
  margin-bottom: 1.875rem;
}

.fa-brands {
  position: absolute;
  color: hsl(223, 87%, 63%);
  top: 0.5rem;
  left: 0.5rem;
  font-size: 0.875rem;
  transition: color 0.25s;
}

.fa-facebook-f {
    left: 0.6875rem;
}

.fa-instagram {
    left: 0.5625rem;
}


.socialLinkBorder {
  border: 0.0625rem solid hsl(223, 100%, 88%);
  width: 1.875rem;
  height: 1.875rem;
  border-radius: 50%;
  position: relative;
  margin: 0 0.4375rem;
  transition: background-color 1s;
}

.socialLinkBorder:hover {
    background-color: hsl(223, 87%, 63%);
    cursor: pointer;
}

.socialLinkBorder:hover .fa-brands{
    color: hsl(223, 100%, 88%);
}

.Copyright {
  font-size: 0.6875rem;
  color: hsl(0, 0%, 59%);
}


@media screen and (min-width: 40.625rem) {
  h1 {
    font-size: 2.75rem;
  }

  main {
    font-size: 1.25rem;
  }

  .form {
    flex-direction: row;
  }

  
.inputField {
   width: 22.5rem;
   height: 3.4375rem;
}

.button {
  width: 10rem;
  padding: 1rem;
  margin-left: 1rem;
  margin-top: 0rem;
}

.errorContainer {
  display: block;
}

.errorContainerMobile {
  display: none;
}

.illustration {
  width: 40.125rem;
}

}